<a href="https://colab.research.google.com/github/SaurabhWhadgar/LetsUpgrade/blob/master/Day6/Day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 1
 Assuming that we have some email addresses in the username@companyname.com format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.

In [ ]:
mystring = 'letsupgrade@google.com'
count = 0
num1 = 0
num2 = 0
for i in mystring:
  count = count+1
  if i == '@':
    num1 = count
  if i == '.':
    num2 = count

print(mystring[num1:num2-1])

google

# Question 2
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

In [ ]:
userinput = input("Enter strings seperated by : ")
userstrings = userinput.split(",")
userstrings.sort()
print(userstrings)

Enter strings seperated by ,tune,mere,abc,jana
['abc', 'jana', 'mere', 'tune']

# Question 3
On seprated ipnyb file

# Question 4
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5

In [ ]:
mystring = input("Enter number seperated by space")
myset = mystring.replace(" ","")
myset1 = list(myset)
myset1 = [int(i) for i in myset1]
num1 = int(myset[len(myset)-1])
myset2  = set(range(int(myset[0]),int(num1+1)))
print(myset2.difference(myset1))

# Question 5
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155

In [ ]:
mystring = input("Enter number")
myset = mystring.replace(" ","")
myset1 = set(list(myset))
arr2=list(set(myset1))
print(sorted(arr2))