<a href="https://colab.research.google.com/github/SaurabhWhadgar/LetsUpgrade/blob/master/Day3/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 1
## Substract two complex number

In [ ]:
a = 3
b = 2
a = complex(a)
b = complex(b)
c = a - b
print(c)
print(type(c))

(1+0j)
<class 'complex'>

# Question 2
## Find the 4th root of number

In [ ]:
n = 6
root = 4
print(n**(1/float(root)))

1.5650845800732873

# Question 3
## Swap two number with temp

In [ ]:
a = 10
b = 50
temp = 0

temp = a
a = b
b = temp
print("a = %s and b = %s" % (a,b))

a = 50 and b = 10

# Question 4
## Swap two number without temp

In [ ]:
a = 5
b = 7

a = a + b 
b = a - b 
a = a - b
print("a = %s and b=%s" % (a,b))

a = 7 and b=5

# Question 5
## Convert fahrenheit to celsius and kelvin

In [ ]:
fer = int(input("Enter temprature"))
cel = 32

temp = (fer - cel)*5/9
print("Temprature in Celsius",temp)

temp = (fer - cel)*5/9 + 273.15
print("Temprature in kelvin : ",temp)

Enter temprature100
Temprature in Celsius 37.77777777777778
Temprature in kelvin :  310.92777777777775

# Question 6
## Types of datatype in python

In [ ]:
print(type(3))
print(type(3.2))
print(type("Three"))
print(type(1+6j))
print(type(True))
print(type({'a':'b','c':1}))
print(type((1,'a',3)))
print(type([2,3,4,'a']))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'complex'>
<class 'bool'>
<class 'dict'>
<class 'tuple'>
<class 'list'>

# Steps to create github profile